body{
  background-color:#c7ffeb;
  color:#8825b3;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1{
  width:100vw;
  text-align:center;
  font-size:70px;
}

p{
  width:100vw;
  font-size:50px;
  text-align:center;
}

a{
  background-color:red;
  color:white;
  padding:30px;
  border-radius:20px;
  text-decoration:none;
  width:100%;
  text-align:center;
  font-size:50px;
  display:table; 
  margin: 0 auto;
}

img{
  display:table;
  height:50%;
  margin:0 auto;
  border:5px #8825b3 solid;
}
